@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

body {
	font-family:"open sans";
	color:#444;
	font-size:1em;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.container{
  display:flex;
}

main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  border-right: 1px solid #000;
  color: rgb(0, 0, 0);
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.down_section{
  background: hwb(0 58% 39%);
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  min-height: 60%;
}

.logo{
  width: 220px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}

.icon, .link_text{
  font-size: 1.1rem;
}

.side-logo {
  width: 30px;
}

.headerDiv {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.headerDiv *{
  margin: 1rem;
}

.countryFlag {
  width: 120px;
}

.col-sm-12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

 .title-app {
  font-family: "Pacifio", cursive;
  text-align: center;
  vertical-align: middle;
  color: lightskyblue;
  font-size: 32px;
  padding-top: 3px;
} 

.before-card {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align:justify;
}


.info-card {
  width: 320px;
  height: 200px;
  border: 1px solid #000;
  margin: 1.5rem 0;
  font-weight: bold;
  background-color:  hwb(0 58% 39%);
  
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0,0,0, .3);

  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}
  
.info-card .personal-detail-section {
    width: 100%;
    height: 130px;
    padding: 10px;
    display: flex;
  }

.info-card  .text-detail {
      display: flex;
      flex-direction: column;
}

.info-card h2 {
  font-size: 20px;
  width: 180px;
  margin-bottom: 1rem;
}
.info-card h3 {
  font-size: 16px;
  line-height: 22px;
  width: 180px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  margin-bottom: 25px;
  font-weight: normal;
  font-style: italic;
}
  
.info-card img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 20px;
}

.userLogo{
  padding: 2rem;
  border-radius: 50%;
  border: 1px solid #000;
}

.info-card p {
  font-size: 12px;
  font-weight: normal;
  width: 160px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

  
.contact-detail-section {
    color: #02527a;
    font-size: 16px;
    font-weight: normal;
    border-top: solid 1px white;
    
}

.contact-detail-section ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.contact-detail-section ul li {

  list-style-type: none;
  display: inline-block;
  width: 115px;
  height: 68px;
  text-align: center;
  padding: 2px;
   
}

.contact-detail-section ul li p {
  font-size: 12px;
  word-wrap: break-word;
  margin-top: 5px;
}


.search {
  width: 31%;
  margin: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
}

.search img {
  width: 30px;
  height: 35px;
  cursor: pointer;
  color: #444;
}

.title {
  margin: 0 2rem;
}

.load-more {
  color: #000;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5%;
  margin: 0 auto;
}